<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="dialect">org.hibernate.dialect.SQLiteDialect</property>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:mydb.db</property>
        <!--<property name="connection.username"></property>
        <property name="connection.password"></property>-->

        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="domains.Student"/>
        <mapping class="domains.Course"/>
        <mapping class="domains.CourseTemplate"/>
        <mapping class="domains.Evaluation"/>
        <mapping class="domains.Grade"/>
        <mapping class="domains.Internship"/>
        <mapping class="domains.Login"/>
        <mapping class="domains.Practice"/>
        <mapping class="domains.Relation"/>
        <mapping class="domains.Staff"/>
        <mapping class="domains.Teacher"/>
        <mapping class="domains.Visit"/>

    </session-factory>
</hibernate-configuration>